<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script th:src="@{/static/jquery.js}" type="text/javascript"></script>
    <link rel="stylesheet" th:href="@{/static/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/bootstrap/css/bootstrap-icons-1.11.2/font/bootstrap-icons.css}">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>挂号预约-主页</title>
    <style>
        p {
            font-size: 18px;
            color: white;
        }
    </style>
    <script>
        $(document).ready(function () {
            $("#header").load("patientHeader");
            $("#navbtn").load("patientNav");
        });
    </script>
</head>

<body>

<div class="container-fluid mt-1">
<!--    <iframe th:src="@{/patient/patientHeader}" width="100%" height="auto"></iframe>-->
    <div style="height: auto">
        <div id="header"></div>
    </div>
    <hr>

    <div class="row">
        <div class="col-2">
            <div id="navbtn"></div>
        </div>

        <div class="col-1 border-start"></div>

        <div class="col-8" id="content">
            <div class="row mb-3">
                <h4 id="date" class="h4">当前时间：<span th:text="${Time}"></span></h4>
            </div>

            <div class="row mt-3">
                <h5 class="h5">您的今日挂号候诊列表</h5>
            </div>

            <div class="row mt-3">
                <ul class="list-group">
                    <li th:each="registration : ${Registrations}" class="list-group-item list-group-item-action">
                        <span th:text="${registration.key.dep_name}"></span>
                        <span th:text="${registration.key.doctor_name}"></span>
                        <span th:text="${registration.key.doctor_title}"></span>

                        <span th:if="${registration.value > 0}">您还需要等待：<span th:text="${registration.value}"></span> 人</span>
                        <span th:if="${registration.value == 0}">已排到您，请尽快到<span th:text="${registration.key.dep_name}"></span>
                        <span th:text="${registration.key.doctor_name}"></span>诊室就诊</span>
                    </li>
                </ul>
            </div>

        </div>

        <div class="col-1 border-end-0"></div>
    </div>
</div>

<script>

</script>
</body>
</html>