<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script th:src="@{/static/jquery.js}" type="text/javascript"></script>
    <link rel="stylesheet" th:href="@{/static/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/bootstrap/css/bootstrap-icons-1.11.2/font/bootstrap-icons.css}">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>患者就诊列表</title>
    <style>
        #frame {
            background-color: #10adc2;
            opacity: 87%;
            width: 350px;
            margin: 5px;
            border: 1px solid #eee;
            padding: 5px 0 5px 0;
            border-radius: 10px;
            box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
        }
        p {
            font-size: 18px;
            color: white;
        }
        .navbtn {
            height: 50px;
        }
    </style>
</head>

<body>
<div id="app">
    <div class="container-fluid mt-1">

        <div class="card" id="frame">
            <div class="card-body">
                <div class="row mb-1">
                    <div class="col-4 mt-1">
                        <h3 class="card-title text-white" >{{doctor.name}}</h3>
                    </div>
                    <div class="col-8 mt-1">
                        <p>{{doctor.dep_name}} {{doctor.title}}</p>
                    </div>
                </div>
                <p class="card-text mt2">职工号：{{doctor.id}}</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-2">
                <input type="button" class="navbtn btn btn-outline-primary btn-block form-control mb-3" name="flush" id="flush" value="刷新就诊列表" onclick="window.location.reload()" /><br>
                <input type="button" class="navbtn btn btn-outline-danger btn-block form-control mb-3" name="logout" id="logout" value="登出" /><br>
                <script th:inline="javascript">
                    $(document).ready(function () {
                        $('#logout').click(function(event) {
                            if (confirm('您确定要退出系统吗？')) {
                                window.location.href='/doctor/logout';
                            }
                        });
                    });
                </script>
            </div>

            <div class="col-1 border-start"></div>

            <div class="col-8" id="content">

                <table class="table table-striped">

                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>就诊号</th>
                        <th>患者姓名</th>
                        <th>患者身份证号码</th>
                        <th>患者性别</th>
                        <th>患者年龄</th>
                        <th>负责医生</th>
                        <th>预约就诊时间</th>
                        <th>就诊状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="registration : ${PatientsList}">
                        <td>[[${registration.key}]]</td>
                        <td>[[${registration.value.id}]]</td>
                        <td>[[${registration.value.patient_name}]]</td>
                        <td>[[${registration.value.patient_id}]]</td>
                        <td>[[${registration.value.patient_sex}]]</td>
                        <td>[[${registration.value.patient_age}]]</td>
                        <td>[[${registration.value.dep_name}]] [[${registration.value.doctor_name}]]</td>
                        <td>[[${registration.value.visit_date}]]</td>
                        <td>
                            <span th:switch="${registration.value.status}">
                                <span th:case="0">已取消</span>
                                <span th:case="1">待就诊</span>
                                <span th:case="2">已就诊</span>
                            <span th:case="*">状态异常</span>
                            </span>
                        </td>

                        <td>
                            <span th:switch="${registration.value.status}">
                                <span th:case="1">
                                    <input type="button" class="btn btn-primary btn-block" name="finish" th:id="${registration.value.id + 'f'}" value="完成就诊" onclick="finish([[${registration.value.id}]])" />
                                    <input type="button" class="btn btn-danger btn-block" name="cancel" th:id="${registration.value.id + 'c'}" value="取消就诊" onclick="cancel([[${registration.value.id}]])" />
                                </span>
                                <span th:case="*">
                                    <input type="button" disabled class="btn btn-primary btn-block" value="完成就诊">
                                    <input type="button" disabled class="btn btn-danger btn-block" name="cancel" value="取消就诊">
                                </span>
                            </span>
                        </td>
                    </tr>
                    <script th:inline="javascript">

                        $(document).ready(function () {
                            function finish(id) {
                                $.ajax({
                                    url: /*[[@{/doctor/changeStatus}]]*/'',
                                    type: "post",
                                    dataType: "json",
                                    data: {
                                        id: id,
                                        status: 2
                                    },
                                    complete: function(data) {
                                        window.location.reload();
                                    }
                                });
                            }
                            window.finish = finish;

                            function cancel(id) {
                                if (confirm("你确定要取消就诊号为" + id + "的就诊吗？")) {
                                    $.ajax({
                                        url: /*[[@{/doctor/changeStatus}]]*/'',
                                        type: "post",
                                        dataType: "json",
                                        data: {
                                            id: id,
                                            status: 0,
                                        },
                                        complete: function(data) {
                                            window.location.reload();
                                        }
                                    });
                                }
                            }
                            window.cancel = cancel;

                        });
                    </script>
                    </tbody>
                </table>
            </div>

            <div class="col-1 border-end-0"></div>
        </div>
    </div>
</div>


<script>
    const app = Vue.createApp({
        data() {
            return {
                doctor: {}
            };
        },
        mounted () {
            axios.get('/doctor/interface/getDoctor')
                .then(response => {
                    this.doctor = response.data;
                })
                .catch(error => {
                    console.error(error);
                });
        }
    });

    app.mount('#app');
</script>
</body>
</html>