<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    病人页面左侧的导航栏，其他页面可直接引用该页面-->
    <title>patientNav</title>
    <style>
        .navbtn {
            height: 50px;
        }
    </style>
    <script th:inline="javascript">
        $(document).ready(function () {
            $('#logout').click(function(event) {
                if (confirm('您确定要退出系统吗？')) {
                    window.location.href=/*[[@{/patient/logout}]]*/'';
                }
            });
        });
    </script>
</head>
<body>
<div th:fragment="navbtnFragment">
    <input type="button" class="navbtn btn btn-outline-success btn-block form-control mb-3" name="goHome" id="goHome" value="主页" onclick="window.location.href='/patient/home'" /><br>
    <input type="button" class="navbtn btn btn-outline-success btn-block form-control mb-3" name="goRegister" id="goRegister" value="按科室挂号预约" onclick="window.location.href='/patient/registration'" /><br>
    <input type="button" class="navbtn btn btn-outline-success btn-block form-control mb-3" name="goRecord" id="goRecord" value="查看挂号记录" onclick="window.location.href='/patient/record'" /><br>
    <input type="button" class="navbtn btn btn-outline-success btn-block form-control mb-3" name="goEdit" id="goEdit" value="修改个人信息" onclick="window.location.href='/patient/edit'" /><br>
    <input type="button" class="navbtn btn btn-outline-danger btn-block form-control mb-3" name="logout" id="logout" value="登出" /><br>
</div>


</body>
</html>